.side-drawer {
  width: 20%;
  background-color: rgb(245, 245, 245);
  border-radius: 15px;
  min-height: 70vh;
  max-height: 70vh;
}

.user-search-section {
  width: 80%;
  margin: 1px auto 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-search-section input {
  cursor: pointer;
  caret-color: #00b712;
  width: 85%;
  margin-bottom: 16px;
  height: 40px;
  padding: 0px 10px;
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  color: #000;
  font-size: 16px;
}

.user-search-icon {
  cursor: pointer;
  color: #00b712;
  font-size: 24px;
}

.sidedrawer-users-list-container {
  background: #c8c8c8;
  border-radius: 5px;
  width: 90%;
  margin: auto;
}

.sidedrawer-users-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
  max-height: 60px;
}

.sidedrawer-users-list-content {
  height: 65px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sidedrawer-users-list-img img {
  max-width: 70%;
  height: auto;
  border-radius: 50%;
}

.side-drawer-all-users {
  max-height: 60vh;
  height: 60vh;
  overflow-y: auto;
}

.side-drawer-all-users::-webkit-scrollbar {
  cursor: pointer;
  width: 10px;
}

.side-drawer-all-users::-webkit-scrollbar-track {
  cursor: pointer;
  background-color: #63d471;
  background-image: linear-gradient(315deg, #63d471 0%, #4a765b 74%);
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.side-drawer-all-users::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: darkgray;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 800px) {
  .side-drawer {
    width: 100%;
    min-height: 10vh;
    max-height: 70vh;
  }
}
