.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  width: 90%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.second ul {
  display: flex;
  list-style: none;
  cursor: pointer;
}
