.one-message-style {
  border-radius: 20px;
  padding: 5px 5px;
  margin: 2px;
}

.no-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-message p {
  font-weight: 600;
}
