.users-list-container {
  border: 1px solid black;
}

.users-list {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

.users-list img {
  width: 12%;
  height: auto;
}

.users-list-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
