.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  width: 90%;
  min-height: 15vh;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.header-logo h2 {
  cursor: pointer;
  letter-spacing: 5px;
}
.header-menu ul {
  display: flex;
  list-style: none;
  cursor: pointer;
}

.header-menu li {
  padding-right: 10px;
}

.icons-font-size {
  font-size: 22px;
}
