.signup-box {
  /* height:420px; original*/
  width: 400px;
  height: auto;
  background-color: #fff;
  color: #000;
  /* top:50%; original*/
  top: 53%;
  border-radius: 20px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 65px 30px;
}

.signup-box h1 {
  margin: 0;
  padding: 60px 0 20px;
  text-align: center;
  font-size: 22px;
}

.signup-box p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.signup-box input {
  width: 100%;
  margin-bottom: 20px;
}

.signup-box input {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  padding: 3px 10px;
  caret-color: #ff0000;
}

.signup-box input::placeholder {
  font-weight: 600;
}

.signup-box input[type="email"],
input[type="text"] {
  border: none;
  border-bottom: 1px solid#000;
  background: transparent;
  outline: none;
  color: #000;
  font-size: 16px;
}

.signup-box input[type="password"] {
  border: none;
  border-bottom: 1px solid#000;
  background: transparent;
  outline: none;
  color: #000;
  font-size: 16px;
  position: relative;
}

.signup-box input[type="email"]:invalid {
  border-bottom: 1px solid #ff0000;
}

.signup-box input[type="email"]:valid {
  border-bottom: 1px solid green;
}

.add-image input[type="file"] {
  position: absolute;
  opacity: 0;
}

.signup-box button {
  border: none;
  outline: none;
  height: 38px;
  background: #00b712;
  color: #fff;
  border-radius: 20px;
  font-size: 15px;
  width: 40%;
  margin: 5px 0px;
}

.signup-box button:hover {
  cursor: pointer;
  background: #00b712;
  color: #fff;
}

.signup-box a {
  display: block;
  font-size: 13px;
  line-height: 20px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.signup-box a:hover {
  color: #00b712;
}

.signup-password-hide-show {
  font-size: 18px;
  color: #00b712;
  position: absolute;
  right: 20px;
  top: 70%;
  cursor: pointer;
}

.add-image {
  position: absolute;
  top: 22px;
  right: 38%;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

@media screen and (max-width: 800px) {
  .signup-box {
    width: 320px;
  }
  .signup-box h1 {
    padding: 65px 0 20px;
  }
  .add-image {
    position: absolute;
    top: 38px;
    right: 38%;
  }
  .avatar {
    top: -35px;
  }
}
