.signupbox {
  width: 400px;
  /* height:420px; original*/
  height: auto;
  background-color: #fff;
  color: #000;
  /* top:50%; original*/
  top: 53%;
  border-radius: 20px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 70px 30px;
}

.signupbox h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.signupbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.signupbox input {
  width: 100%;
  margin-bottom: 20px;
}

.signupbox input {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  padding: 3px 10px;
  caret-color: red;
}

.signupbox input::placeholder {
  font-weight: 600;
}

.signupbox input[type="email"]:invalid {
  border-bottom: 1px solid red;
}

.signupbox input[type="email"]:valid {
  border-bottom: 1px solid green;
}

.signupbox input[type="email"],
input[type="text"] {
  border: none;
  border-bottom: 1px solid#000;
  background: transparent;
  outline: none;
  color: #000;
  font-size: 16px;
}

.signupbox input[type="password"] {
  border: none;
  border-bottom: 1px solid#000;
  background: transparent;
  outline: none;
  color: #000;
  font-size: 16px;
  position: relative;
}

.signup-password-hide-show {
  font-size: 18px;
  color: green;
  position: absolute;
  right: 20px;
  top: 50%;
  cursor: pointer;
}

.signupbox button {
  border: none;
  outline: none;
  height: 38px;
  background: #00b712;
  color: #fff;
  border-radius: 20px;
  font-size: 15px;
  width: 40%;
  margin: 5px 0px;
}

.signupbox button:hover {
  cursor: pointer;
  background: #00b712;
  color: #fff;
}

.signupbox a {
  display: block;
  font-size: 13px;
  line-height: 20px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.signupbox a:hover {
  color: #00b712;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

@media screen and (max-width: 800px) {
  .signupbox {
    width: 320px;
  }

  .avatar {
    top: -35px;
  }
}
