.my-chats {
  width: 35%;
  border-radius: 15px;
  background-color: #fff;
}
.my-chats-container {
  width: 80%;
  margin: 10px auto;
}
.my-chats-container-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-chats-container-content p {
  font-size: 25px;
}
.my-chats-container-content button {
  background: none;
  border-radius: 20px;
}

.chats-boxes {
  border-radius: 5px;
  width: 100%;
  background-color: gainsboro;
  margin: 10px auto;
  max-height: 60px;
  padding: 10px 10px;
}

@media screen and (max-width: 800px) {
  .my-chats {
    width: 100%;
    margin-top: 20px;
  }
}
