.side-drawer {
  width: 20%;
  background-color: #fff;
  border-radius: 15px;
}

.side-drawer-container {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-drawer-container input {
  caret-color: #00b712;
  width: 85%;
  margin-bottom: 20px;
  height: 40px;
  padding: 3px 10px;
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  color: #000;
  font-size: 16px;
}

.search-icon {
  color: red;
  font-size: 24px;
}

.div-flexer {
  display: flex;
  flex-direction: column !important;
}

@media screen and (max-width: 800px) {
  .side-drawer {
    width: 100%;
  }
}
