.header-container
{
    display: flex;
    justify-content: space-between;
    background-color:lightslategrey;
}

.chatpage-container
{
    display: flex;
    justify-content: space-between;
}

.flex-basis-18
{
   
    flex-basis: 18%;
}

.flex-basis-28
{
    flex-basis: 28%;

}

.flex-basis-38
{
    flex-basis: 38%;
}

