.one-message-style {
  border-radius: 10px;
  padding: 5px 5px;
  margin: 2px 5px;
  min-width: 60px;
  overflow-wrap: anywhere;
}

.no-message {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-message p {
  font-weight: 600;
}

.sender-pic {
  max-width: 10%;
  border-radius: 50%;
  object-fit: contain;
}
