.add-users-list-container {
  background: #c8c8c8;
  border-radius: 5px;
  width: 100%;
}

.add-users-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
  max-height: 60px;
  cursor: pointer;
}

.add-users-list-content {
  max-width: 60%;
  height: 65px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.add-users-list-img img {
  width: 30%;
  max-width: 30%;
  height: auto;
  border-radius: 50%;
}

.add-users-list-img img {
  max-width: 20%;
  height: auto;
  border-radius: 50%;
}
