.update-group-users {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.update-user-box {
  margin-top: 2px;
  margin-right: 5px;
  width: 32%;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(178, 178, 178);
  border-radius: 5px;
  padding: 15px 10px;
  cursor: pointer;
}

.update-user-box p {
  margin: 0;
  font-size: 18px;
}

@media screen and (max-width: 450px) {
  .update-user-box {
    width: 45%;
  }
}
